[submodule "avif"]
	path = avif
	url = https://github.com/mith-mmk/avif-rust.git

[submodule "avifenc"]
	path = avifenc
	url = https://github.com/mith-mmk/avifenc.git
[submodule "jxl"]
	path = jxl
	url = https://github.com/mith-mmk/jxl-rust.git
